
body{
    background: url(./images/1650990.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    width:100%;
    align-items: center;
    justify-content: center;
}

.nav{
    overflow: hidden;
    background: #ffffff8a;
    margin-top: 7px;
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}

.nav a{
    float:left;   
    color:#000;
    text-align: center;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 900;
    width:170px;
    text-decoration: none;  
    font-weight: bold;
    text-transform: uppercase;
    

}

.nav a:hover{
    background: rgb(125, 175, 216);
    color: #fff;
    font-size: 25px;
    border: 5px solid #000;
    transition-duration: 200ms;
    text-align: center;

    
}

.Hello {
    font-size:90px; 
    font-family: fantasy;
    position: relative;
    color:#fff;
    margin-left: 50px;
}

.Hello2 {
    font-size:50px; 
    font-family: fantasy;
    position: relative;
    color:#fff;
    margin-left: 300px;
    margin-top: 80px;
}

.spanone {
    font-size:80px; 
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
    color:#a32525c2;
    margin-left: 10px;
}

.Hello3 {
    font-size:70px; 
    font-family: fantasy;
    position: relative;
    color:#fff;
    margin-left: 100px;
    margin-top: 80px;


}

.Hello4 {
    font-size:90px; 
    font-family: 'Orbitron', sans-serif;
    position: relative;
    color:#010306;
    margin-left: 200px;
    margin-top: 30px;
    -webkit-text-fill-color: rgba(0, 255, 255, 0.324);
    -webkit-text-stroke: 2px #000000;
}


.PictureofMe  {
    font-family:'Rajdhani', sans-serif ;
    font-size: 18px;
    background-color: #000000e6;
    border: 3px solid rgb(0, 0, 0)  ;
    border-radius: 10px;
    color: #fff;
    display:flex;
    margin-top:100px;
    margin-left:25%;
    align-items: center;
    width:50%;
    justify-content:center;
    

}

.PictureofMe p {
    margin-left: 60px;
    margin: 5px;
}

img {
    width: 310px;
    margin:5px; 
}

.links {
    background-color:transparent;
    border: 3px solid rgb(179, 216, 125);
    margin-top: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    max-width: 100%;
    margin: 10px;
}

.links a {
    font-family: 'Rajdhani', sans-serif;
    background: url(images/417970.jpg);
    background-repeat: no-repeat;
    font-size: 30px;
    text-align:left;
    color: rgb(228, 228, 228);
    padding: 80px ;
    margin: 5px;
    max-width: 50%;
    border:2px #000 solid ;
}

.links a:hover{
    font-family: 'Rajdhani', sans-serif;
    background: url(images/417970.jpg);
    background-repeat: no-repeat;
    font-size: 40px;
    text-align:left;
    color: rgb(228, 228, 228);
    padding: 80px ;
    margin: 5px;
    max-width: 50%;
    border:2px #000 solid ;
    
}

.contactme {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    background-position: center;
    
}
.form {
    width:100%;
    max-width: 600px;
}

.formbox {
    margin-bottom: 30px;
}
input, textarea {
    width: 100%;
    padding: 10px;

}

/*Media Queries*/

@media screen and (max-width:1440px)
  ;
