
body{
    background: url(./images/SGwallpaper.jpg);
    background-size:cover;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

.nav{
    overflow: hidden;
    background: #fff;
    margin-top: -5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}

.nav a{
    float:left;   
    color:#000;
    text-align: center;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 900;
    width:140px;
    text-decoration: none;  
    font-weight: bold;
    text-transform: uppercase;

}

.nav a:hover{
    background: rgb(179, 216, 125);
    color: #fff;
    font-size: 25px;
}




.Aboutme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:black;
    background-color: #ffffff;
    display: relative;
    border: 10px solid greenyellow;
    height: fit-content;
    margin-top: 50px;
}